In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\admin\AppData\Local\Temp\ipykernel_15152\2259232837.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
data=pd.read_csv("USA_Housing.csv")
data

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386
...,...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06,USNS Williams\nFPO AP 30153-7653
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06,"PSC 9258, Box 8489\nAPO AA 42991-3352"
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06,"4215 Tracy Garden Suite 076\nJoshualand, VA 01..."
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06,USS Wallace\nFPO AE 73316
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06,"37778 George Ridges Apt. 509\nEast Holly, NV 2..."

In [3]:
data.isnull().sum()

Avg. Area Income                0
Avg. Area House Age             0
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 0
Price                           0
Address                         0
dtype: int64

model-training

Step 1: Getting the values of independent and dependent variables.

In [4]:
feature = data[['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
               'Avg. Area Number of Bedrooms', 'Area Population']]
target = data['Price']

Step 2: Splitting the Data

In [5]:
from sklearn.model_selection import train_test_split

In [9]:
x_train, x_test, y_train, y_test = train_test_split(feature,target, test_size=0.4, random_state=101)

In [38]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import metrics
from sklearn.metrics import r2_score

In [40]:
model=DecisionTreeRegressor()
lm=model.fit(x_train,y_train)

Step 3: Importing and Training the Model

In [44]:
dict_model = []
list_model = [DecisionTreeRegressor(),RandomForestRegressor(),SVR(),KNeighborsRegressor(),LinearRegression()]
for model in list_model:
    model.fit(x_train,y_train)
    train_predict = model.predict(x_train)
    test_predict = model.predict(x_test)
    dict_model.append({"model":model.__class__(),"Mean Absolute Error":metrics.mean_absolute_error(y_test,test_predict),"Mean Squared Error":metrics.mean_squared_error(y_test,test_predict),"R-Squared Error":metrics.r2_score(y_test,test_predict)})

In [45]:
pd.DataFrame(dict_model)

,model,Mean Absolute Error,Mean Squared Error,R-Squared Error
0,DecisionTreeRegressor(),140824.634092,3.211266e+10,0.747305
1,RandomForestRegressor(),99337.294934,1.581936e+10,0.875517
2,SVR(),285417.189302,1.270593e+11,0.000167
3,KNeighborsRegressor(),201872.605032,6.405289e+10,0.495966
4,LinearRegression(),82288.222519,1.046096e+10,0.917682

In [ ]:
#linear-regression
#knn
#svc
#random forest
#decision tree

In [41]:
predictions = lm.predict(x_test)

Model Evaluation

Evaluate the model’s performance using appropriate metrics, such as mean squared error (MSE) or R-squared, to assess how well it predicts house prices on the testing set.

In [42]:
from sklearn import metrics
from sklearn.metrics import r2_score

In [43]:

print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RSS:',metrics.r2_score(y_test, predictions))

MAE: 140928.0078179339
MSE: 31539930234.046013
RSS: 0.7518113441004649